body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
}

.calc-body {
  display: flex;
  border: solid 1px black;
  width: 80%;
  max-width: 380px;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.display {
  width: 80%;
  margin-top: 4%;
  background: #2222224e;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  height: 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
button {
  border-radius: 50%;
  padding: 20px;
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.equal {
  grid-column: span 4;
  align-self: center;
  justify-self: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 11px;
  max-width: 400px;
}
h1 {
  font-family: "Baloo 2", cursive;
  font-size: 3.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.warning {
  margin-top: 3.2rem;
  color: rgb(255, 0, 0);
  font-size: 7rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media screen and (max-width: 767px) {
  button {
    width: 60px;
    height: 60px;
    padding: 0;
    font-size: 1.2rem;
  }

  .display {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  .warning {
    font-size: 3rem;
    margin-top: 1.5rem;
  }
}
